@import url('https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font: 1.8rem/1.6 Raleway, sans-serif;
    scroll-behavior: smooth;
}

.ba-container {
    max-width: 960px;
    width: 96%;
}

header {
    height: 100vh;
    background: #23232e;
    color: #fff;
    text-align: center;
    padding: 70px 0 140px; 
    position: relative;
    min-height: 100vh;
}

header h1 {
    margin: 15vh 0 30px 0;
}

.title {
    text-transform: uppercase;
    font-size: 8rem;
    line-height: 1;
    text-align: center;
}

header p {
    max-width: 430px;
    margin: 0 auto;
}

.scroll {
    width: 45px;
    height: 45px;
    border: 2px solid #fff;
    display: inline-block;
    border-radius: 50%;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: all .25s ease-in;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.scroll:hover,
.scroll:focus,
.scroll:active {
    border-color: rgba(255,255,255, .6);
    background-position: center 60%;
}

main {
    padding: 120px 0;
    background-image: url(../img/bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about {
    font-size: 3rem;
    text-align: center;
    color: #464b4f;
    padding: 0 30px;
}

.about p {
    margin-bottom: 2em;
}

.skills {
    margin-top: 120px;
    color: #464b4f;
}

.skills h3 {
    text-transform: uppercase;
}
